<ion-modal-view id="photo-filter">
    <ion-header-bar class="bar-light">
        <button class="button button-clear button-icon ion-ios-arrow-thin-left" ng-click="closeModalFilter()"></button>
        <div class="title">{{ 'Filter' | translate }}</div>
        <button class="button button-icon " ng-click="submitFilter()"><i class="icon ion-ios-arrow-thin-right"></i>
        </button>
    </ion-header-bar>
    <ion-content scroll="false">
        <img id="image" src="{{form.photo}}"  ng-if="form.photo" alt="">
        <canvas id="c"></canvas>
        <div ng-show="!showFilter" class="slider-filters">
            <div>
                <ion-scroll direction="x" class="image-filter">
                    <a ng-repeat="filter in imageFilters" ng-click="applyFilter(filter)">
                        <p>{{ filter.name }}</p>
                        <img id="{{filter.id}}" class="img-filter" src="">
                    </a>
                </ion-scroll>
                <div class="row">
                    <div class="col">
                        <button class="button button-block bold ">Filter</button>
                    </div>
                    <div class="col">
                        <button class="button button-block " ng-click="showFilter=true">Edit</button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="showFilter" class="slider-filters">
            <div ng-show="showFilters" class="slider-filters">
                <ion-scroll direction="x">
                    <a ng-repeat="filter in filters" ng-click="selectFilter(filter)">
                        <p>{{ filter.name }}</p>
                        <i class="icon {{filter.icon}}"></i>
                    </a>

                    <a ng-click="reset()">
                        <p>Reset</p>
                        <i class="icon ion-android-refresh"></i>
                    </a>
                </ion-scroll>
                <div class="row">
                    <div class="col">
                        <button class="button button-block " ng-click="showFilter=false">Filter</button>
                    </div>
                    <div class="col">
                        <button class="button button-block bold">Edit</button>
                    </div>
                </div>
            </div>

            <div ng-show="!showFilters" class="slider-filters">
                <p class="text-center">{{filter.name}}</p>
                <slider-filter filter="filter"></slider-filter>
                <div class="row">
                    <div class="col">
                        <button class="button button-block " ng-click="cancelFilter(filter)">Cancel</button>
                    </div>
                    <div class="col">
                        <button class="button button-block bold" ng-click="showFilters = !showFilters">Done
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </ion-content>

</ion-modal-view>