#photo-filter {
  .bold {
    font-weight: bold;
  }

  img {
    max-width: 100%;
  }

  .slider-filters {
    position: absolute;
    bottom: 0;
    height: 170px;
    white-space: nowrap;
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;
    transition: all linear .5s;

    img {
      width: 90px;
    }

    &.ng-hide {
      opacity: 0;
      bottom: -200px;
    }

    .image-filter {
      display: block;
      height: 100px;
    }

    .item {
      background-color: transparent;
    }

    .row, .col {
      padding: 0;
      margin: 0;
    }

    a {
      display: inline-block;
      text-align: center;
      width: 100px;
      height: 100px;
      color: #000;

      i {
        display: block;
        margin: 0 auto;
        font-size: 40px;
        border: 1px solid #ccc;
        border-radius: 50%;
        padding: 15px;
        width: 70px;
        height: 70px;
      }
    }

  }
}